h2,
h3 {
  font-weight: 400;
}
body,
p {
  color: var(--black-90);
}
.swiper-custom-pagination,
.swiper-slide figcaption {
  font-family: var(--secondary-ff);
  font-size: 17px;
  line-height: 29px;
}
:root {
  --black: rgb(20, 20, 20);
  --black-90: rgba(21, 21, 21, 0.9);
  --black-75: rgba(21, 21, 21, 0.75);
  --black-50: rgba(21, 21, 21, 0.5);
  --accent: rgb(227, 99, 99)
  --primary-ff: "EB Garamond", Georgia, serif;
  --secondary-ff: "Montserrat", Helvetica, sans-serif;
}
body {
  font-family: var(--primary-ff);
}
h1 {
  font-size: 58px;
  line-height: 85px;
}
h2 {
  font-size: 45px;
  line-height: 67px;
}

h3 {
  font-size: 36px;
  line-height: 55px;
}

p {
  font-size: 22px;
  line-height: 36px;
}

#slider-2 {
  padding-bottom: 7.5rem;
}
.swiper-slide {
  & img {
    display: block;
    width: 100%;
    height: 40rem;
    object-fit: cover;
  }
  & figure {
    position: relative;
    margin: 0;
    overflow: hidden;
  }
  & figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1rem 2rem;
    left: 50%;
    transform: translate3d(-50%, 100%, 0);
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  & figcaption img {
    width: auto;
    height: auto;
    object-fit: contain;
  }
}

.swiper-slide-active figcaption {
  transform: translate3d(-50%, 0, 0);
  opacity: 1;
}

#swiper-1 {
  &.swiper-pagination {
    bottom: 2rem;
  }
  &.swiper-pagination-bullet {
    margin: 0 0.5rem;
    opacity: 1;
    background-color: var(--black-75);
    width: 0.75rem;
    height: 0.75rem;
  }
  &.swiper-pagination-bullet-active {
    background-color: var(--accent);
  }
}

.swiper-custom-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 10;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  & svg {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }
  & svg:hover {
    opacity: 1;
  }
}
.swiper-custom-pagination .swiper-pagination-bullet-active .line,
.swiper-custom-pagination .swiper-pagination-bullet-active .number {
  opacity: 1;
}
.swiper-custom-pagination {
  display: flex;
  width: 100%;
  padding-top: 2rem;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
  color: var(--black);
  &.swiper-pagination-bullet {
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
    text-align: center;
  }
  &.number {
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  &.line {
    opacity: 0.3;
    height: 0.25rem;
    width: 0.75rem;
    background-color: var(--black);
    display: block;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
  }
  &.swiper-pagination-bullet-active .line {
    width: 2rem;
  }
}

@media screen and (max-width: 800px) {
  #main-header,
  .padded {
    padding: 4rem;
  }
  .swiper-slide img {
    height: 20rem;
  }
  .swiper-slide figcaption {
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
    background-color: var(--black-90);
  }
  .swiper-custom-nav {
    display: none;
  }
}
