:root {
  --blue: #2196f7;
  --gray: #dfe5e8;
  --purple: #6c136f;
  --green: #32ad1e;
  --white: #ffffff;
  --q-black: #393d50;
  --q-white: #f4f6f7;
  --q-gray: #5f727f;
  --qq-gray: #99a9b5;
  --qq-black: #2c2e3d;
}

* {
  font-family: "Source Sans Pro";
}

body {
  margin: 0;
  padding: 0;
}
/* flex box */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  /* opacity: 0.702; */
  background-color: var(--gray);
}

.price-table {
  width: 362px;
  height: 768px;
  margin: 2%;
  position: relative;
  padding-top: 50px;
}

/* Price radius box */
.price-box {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  line-height: 37px;
  font-weight: 300;
  text-align: center;
}

.price-box p {
  margin: 0px !important;
}

/* sub box */
.descripe-box {
  width: 362px;
  height: 272px;
  background-color: var(--q-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* style */
.ocean {
  border: 1px solid var(--blue);
  background-color: var(--white);
  color: var(--blue);
}

.forest {
  border: 1px solid var(--green);
  background-color: var(--white);
  color: var(--green);
}

.mountain {
  border: 1px solid var(--purple);
  background-color: var(--qq-black);
  color: var(--purple);
}
/* dropout theme */
.ocean-theme {
  background-image: url(static/image/ocean.png);
  background-size: cover;
}

.mountain-theme {
  background-image: url(static/image/mountain.png);
  background-size: cover;
}

.forest-theme {
  background-image: url(static/image/forest.png);
  background-size: cover;
}

.description {
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 300;
  font-family: "Montserrat";
  text-align: center;
}

/* dropout */
.drop-out {
  width: 362px;
  height: 768px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.dropout-text {
  width: 180px;
  height: 331px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
  display: contents;
}

.dropout-text p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px !important;
}

.dropout-text p:nth-child(odd) {
  width: 362px;
  height: 50px;
  background-color: var(--q-white);
}

/* button */
.btn {
  cursor: pointer;
  width: 170px;
  height: 50px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 54px;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 13%;
  margin-left: 26%;
}

.btn.forest:hover {
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 54px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 300;
  font-family: "Montserrat";
  text-align: center;
  width: 170px;
  height: 50px;
  background-color: var(--green);
  margin-top: 13%;
  margin-left: 26%;
}

.btn.ocean:hover {
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 54px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 300;
  font-family: "Montserrat";
  text-align: center;
  width: 170px;
  height: 50px;
  background-color: var(--blue);
  margin-top: 13%;
  margin-left: 26%;
}

.btn.mountain:hover {
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 54px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 300;
  font-family: "Montserrat";
  text-align: center;
  width: 170px;
  height: 50px;
  background-color: var(--purple);
  margin-top: 13%;
  margin-left: 26%;
}

/* dropout-subtitle */
.subcription {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.subcription p {
  margin: 0px !important;
}

.subtitle {
  font-size: 24px;
  line-height: 37px;
  color: var(--q-gray);
  font-weight: 300;
  text-align: center;
}

.second-subtitle {
  width: 352px;
  box-sizing: border-box;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 25px;
  color: var(--qq-gray);
  font-weight: 400;
  text-align: center;
}
/* description@@ */
.second-subtitle p {
  text-align: center;
  width: 300px;
  margin: 0px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* New-pick */
.new {
  width: 66px;
  height: 66px;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
  font-family: "Montserrat";
  position: absolute;
  z-index: 1;
  transform: translate(-15px, -15px);
  background-image: url(static/image/newmark.png);
  background-size: cover;
}

.new-title {
  position: absolute;
  transform: translate(55%, -5%);
}

/* responsive */
/* for vertical phone */
@media screen and (max-width: 320px) {
}
/* for horizontal phone */
@media screen and (max-width: 480px) and (min-width: 321px) {
}
/* for vertical tablet */
@media screen and (max-width: 749px) and (min-width: 481px) {
  .flex {
    flex-wrap: wrap;
  }

  .price-table {
    width: 200px;
    height: 360px;
    padding: 20px;
    text-align: center;
    align-items: center;
  }

  .price-box {
    width: 58px;
    height: 58px;
    border-radius: 45px;
    font-size: 14px;
    line-height: 12px;
  }

  .descripe-box {
    width: 195px;
    height: 110px;
  }

  .description {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 25px;
  }

  .drop-out {
    width: 195px;
    height: 360px;
  }

  .dropout-text {
    width: 195px;
    height: 140px;
    font-size: 12px;
    line-height: 30px;
  }

  .dropout-text p:nth-child(odd) {
    width: 195px;
    height: 30px;
  }
  /* button */
  .btn {
    margin-top: 8%;
    margin-left: 3%;
    width: 80px;
    height: 25px;
    font-size: 8px;
    line-height: 16.5px;
  }

  .btn.ocean:hover {
    margin-top: 8%;
    margin-left: 3%;
    width: 80px;
    height: 25px;
    font-size: 8px;
    line-height: 16.5px;
  }

  .btn.mountain:hover {
    margin-top: 8%;
    margin-left: 3%;
    width: 80px;
    height: 25px;
    font-size: 8px;
    line-height: 16.5px;
  }

  .btn.forest:hover {
    margin-top: 8%;
    margin-left: 3%;
    width: 80px;
    height: 25px;
    font-size: 8px;
    line-height: 16.5px;
  }
  /* dropout-subtitle */
  .subcription {
    padding: 10px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 14px;
  }

  .second-subtitle {
    font-size: 10px;
    line-height: 10px;
  }
  /* New-pick */

  .new {
    max-width: 40px;
    max-height: 40px;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    transform: translate(-15px, -15px);
  }

  .new-title {
    position: absolute;
    transform: translate(30%, 0%);
  }
}
/* for horizontal tablet  and vertical big tablet*/
@media screen and (max-width: 1023px) and (min-width: 750px) {
  .flex-center {
    flex-wrap: wrap;
  }

  .price-table {
    width: 350px;
    height: 750px;
    padding: 50px;
    text-align: center;
    align-items: center;
  }

  .price-box {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 30px;
    line-height: 30px;
  }

  .descripe-box {
    width: 350px;
    height: 220px;
  }

  .description {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 25px;
  }

  .drop-out {
    width: 350px;
    height: 750px;
  }

  .dropout-text {
    width: 350px;
    height: 140px;
    font-size: 15px;
    line-height: 60px;
  }

  .dropout-text p:nth-child(odd) {
    width: 350px;
    height: 60px;
  }

  /* button */
  .btn {
    margin-top: 12%;
    margin-left: 3%;
    width: 150px;
    height: 45px;
    font-size: 20px;
    line-height: 30px;
  }

  .btn.ocean:hover {
    margin-top: 12%;
    margin-left: 3%;
    width: 150px;
    height: 45px;
    font-size: 20px;
    line-height: 30px;
  }

  .btn.mountain:hover {
    margin-top: 12%;
    margin-left: 3%;
    width: 150px;
    height: 45px;
    font-size: 20px;
    line-height: 30px;
  }

  .btn.forest:hover {
    margin-top: 12%;
    margin-left: 3%;
    width: 150px;
    height: 45px;
    font-size: 20px;
    line-height: 30px;
  }

  /* dropout-subtitle */
  .subcription {
    padding: 30px;
  }

  .subtitle {
    font-size: 20px;
    line-height: 20px;
  }

  .second-subtitle {
    font-size: 15px;
    line-height: 15px;
  }
  /* New-pick */
  .new {
    max-width: 90px;
    max-height: 90px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    transform: translate(-25px, -25px);
  }

  .new-title {
    position: absolute;
    transform: translate(38%, 50%);
  }
}
/* for horizontal big tablet*/
@media screen and (min-width: 1024px) and (max-width: 1240px) {
  .price-table {
    width: 250px;
    height: 550px;
    padding: 20px;
    text-align: center;
    align-items: center;
  }

  .price-box {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    font-size: 14px;
    line-height: 12px;
  }

  .descripe-box {
    width: 250px;
    height: 140px;
  }

  .description {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 25px;
  }

  .drop-out {
    width: 250px;
    height: 550px;
  }

  .dropout-text {
    width: 250px;
    height: 180px;
    font-size: 12px;
    line-height: 50px;
  }

  .dropout-text p:nth-child(odd) {
    width: 250px;
    height: 50px;
  }

  /* button */
  .btn {
    margin-top: 12%;
    margin-left: 0%;
    width: 100px;
    height: 35px;
    font-size: 12px;
    line-height: 16.5px;
  }

  .btn.ocean:hover {
    margin-top: 12%;
    margin-left: 0%;
    width: 100px;
    height: 35px;
    font-size: 12px;
    line-height: 16.5px;
  }

  .btn.mountain:hover {
    margin-top: 12%;
    margin-left: 0%;
    width: 100px;
    height: 35px;
    font-size: 12px;
    line-height: 16.5px;
  }

  .btn.forest:hover {
    margin-top: 12%;
    margin-left: 0%;
    width: 100px;
    height: 35px;
    font-size: 12px;
    line-height: 16.5px;
  }

  /* dropout-subtitle */
  .subcription {
    padding: 20px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 16px;
  }

  .second-subtitle {
    font-size: 12px;
    line-height: 20px;
  }
  /* New-pick */
  .new {
    max-width: 55px;
    max-height: 55px;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    transform: translate(-20px, -15px);
  }

  .new-title {
    position: absolute;
    transform: translate(40%, 25%);
  }
}
/* for desktop*/
@media screen and (min-width: 1240px) {
  .background1,
  .price-table,
  .drop-out {
    max-width: 100%;
  }
}
