:root {
  --blue: #2196f7;
  --gray: rgb(222, 228, 231);
  --gray-50: rgba(222, 228, 331, 0.5);
  --purple: #6c136f;
  --green: #32ad1e;
  --white: hsl(0, 0%, 100%);
  --bisque: rgb(255, 228, 196);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--gray);
}

* {
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  padding: 50px 0px;
  height: 600px;
  width: 300%;
  position: relative;
}

.swipe-background {
  height: 100%;
  width: 100%;
}

.picture {
  padding: 0 0.7%;
  width: 33.2%;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: 2s;
}

/* arrow changes styles */

.arrow {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  top: 275px;
  cursor: pointer;
  display: none;
  color: var(--bisque);
}
.disabled-arrow {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  top: 550px;
  cursor: pointer;
}

.left-arrow {
  left: 1%;
}

.right-arrow {
  right: 67.8%;
}

.arrow:hover {
  color: var(--blue);
}
.disabled-arrow:hover {
  color: var(--gray-50);
}
