:root {
  --black: rgb(20, 20, 20);
  --black-90: rgba(21, 21, 21, 0.9);
  --black-75: rgba(21, 21, 21, 0.75);
  --black-50: rgba(21, 21, 21, 0.5);
  --accent: rgb(227, 99, 99);
  --red: rgb(210, 9, 9);
  --white: #ffffff;
  --ocean: rgb(46, 151, 217);
  --gray: #f4f6f7;
  --dark-gray: #99a9b5;
  --pink: #ff5176;
  --yellow: yellow;
  --primary-ff: "EB Garamond", Georgia, serif;
  --secondary-ff: "Montserrat";
  --thirdary-ff: "Source Sans Pro";
  --icon-ff: "Elegant Icons";
  --icon-2-ff: "Material Design Icons";
  --primary: #275efe;
  --headline: #3f4656;
  --text: #5f727f;
  --cham: #d1edac;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

body {
  padding-top: 5px;
  margin: 0px;
  background: var(--white);
}

body {
  font-family: var(--primary-ff);
  background-color: var(--white);
}

body,
p {
  color: var(--black-90);
}

/* hidden div */
#search-div {
  z-index: 0;
  position: absolute;
  transition: 1s ease;
  top: 85px;
  right: 16%;
  width: 16px;
  height: 16px;
  background-color: var(--white);
}
#hidden-div {
  position: fixed;
  display: none;
  top: 100px;
  height: 500px;
  width: 60%;
  left: 20%;
  z-index: 1000;
  background: linear-gradient(45deg, var(--cham), var(--ocean));
  padding: 0 10px;
  overflow-y: scroll;
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--black-75);
  font-weight: 700;
  font-family: var(--secondary-ff);
  & .wishlist-hidden-div {
    width: 100%;
    background-color: var(--white);
    display: inline-block;
    text-align: center;
    & .wishlist-navbar {
      background: linear-gradient(-45deg, var(--cham), var(--ocean));
      width: 100%;
      height: 65px;
      position: sticky;
      top: 0;
      padding: 20px;
      & .off-round {
        position: absolute;
        top: 32%;
        left: 96%;
        height: 24px;
        width: 20px;
        border-radius: 5px;
        :hover {
          fill: var(--ocean);
          cursor: pointer;
        }
      }
    }
    & .wishlist-item {
      height: 500px;
      float: left;
      width: 30%;
      background-color: var(--ocean);
      margin: calc(10% / 6);
    }
    & .wishlist-footer {
      position: sticky;
      background: linear-gradient(-45deg, var(--ocean), var(--cham));
      top: 450px;
      width: 100%;
      height: 50px;
    }
  }
  & .cart-hidden-div {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: var(--white);
  }
}

.swiper-custom-pagination,
.swiper-slide figcaption {
  font-family: var(--secondary-ff);
  font-size: 17px;
  line-height: 29px;
}

p {
  font-size: 22px;
  line-height: 36px;
}

/* Swiper */
.swiper-slide {
  & img {
    display: block;
    width: 100%;
    height: 40rem;
    object-fit: cover;
  }
  & figure {
    position: relative;
    margin: 0;
    overflow: hidden;
  }
  & figcaption {
    position: absolute;
    bottom: 0;
    color: var(--white);
    background-color: var(--black);
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1rem 2rem;
    left: 50%;
    transform: translate3d(-50%, 100%, 0);
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  & figcaption img {
    width: auto;
    height: auto;
    object-fit: contain;
  }
}

.swiper-wrapper {
  position: relative;
  text-align: center;
  color: var(--white);
  & .slide-text {
    font-size: 100px;
    letter-spacing: 5px;
    line-height: 50px;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 700;
    font-family: var(--secondary-ff);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.swiper-slide-active figcaption {
  transform: translate3d(-50%, 0, 0);
  opacity: 1;
}

#swiper-1 {
  &.swiper-pagination {
    bottom: 2rem;
  }
  &.swiper-pagination-bullet {
    margin: 0 0.5rem;
    opacity: 1;
    background-color: var(--black-75);
    width: 0.75rem;
    height: 0.75rem;
  }
  &.swiper-pagination-bullet-active {
    background-color: var(--accent);
  }
}

.swiper-custom-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 10;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  & svg {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }
  & svg:hover {
    opacity: 1;
  }
}
.swiper-custom-pagination .swiper-pagination-bullet-active .line,
.swiper-custom-pagination .swiper-pagination-bullet-active .number {
  opacity: 1;
}
.swiper-custom-pagination {
  display: flex;
  width: 100%;
  padding-top: 2rem;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
  color: var(--black);
  &.swiper-pagination-bullet {
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
    text-align: center;
  }
  &.number {
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  &.line {
    opacity: 0.3;
    height: 0.25rem;
    width: 0.75rem;
    background-color: var(--black);
    display: block;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
  }
  &.swiper-pagination-bullet-active .line {
    width: 2rem;
  }
}

@media screen and (max-width: 800px) {
  #main-header,
  .padded {
    padding: 4rem;
  }
  .swiper-slide img {
    height: 20rem;
  }
  .swiper-slide figcaption {
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
    background-color: var(--black-90);
  }
  .swiper-custom-nav {
    display: none;
  }
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: var(--white);
}

/* Style the top navigation bar, the bottom navbar*/
.topnav {
  height: 50px;
  overflow: hidden;
  background-color: var(--gray);
  position: relative;
  & a {
    float: left;
    display: block;
    color: var(--black);
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    & svg,
    text {
      position: relative;
      z-index: 10;
      transition: color 0.5;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: -50px;
      left: 0;
      background: linear-gradient(-45deg, var(--cham), var(--ocean));
      transition: all 0.5s ease-in-out;
      z-index: 2;
    }
    &:hover {
      &::after {
        top: 0;
      }
      & svg {
        fill: var(--white);
      }
      & text {
        color: var(--white);
      }
    }
  }

  & button {
    cursor: pointer;
    color: var(--white);
    width: 100px;
    height: 30px;
    border-radius: 3px;
    background-color: var(--headline);
    position: relative;
  }
}

.nav-text {
  font-size: 14px;
  line-height: 50px;
  color: var(--text);
  font-weight: 400;
  font-family: var(--thirdary-ff);
}

/* Space */
.left-space {
  height: 100%;
  float: left;
  display: block;
  width: 10%;
}
.right-space {
  height: 100%;
  float: right;
  display: block;
  width: 10%;
}
.middle-space {
  height: 1%;
  float: left;
  display: block;
  width: 2.5%;
}
/* Menu */
.menu {
  overflow: hidden;
  height: 100px;
  filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.2));
  background-color: var(--white);
  & .logo {
    font-size: 27px;
    padding: 25px 3px;
  }
  & a {
    float: left;
    display: block;
    color: var(--black);
    text-align: center;
    padding: 25px 26px;
    text-decoration: none;
  }
  & a:hover {
    cursor: pointer;
    fill: var(--ocean);
    color: var(--ocean);
  }
  &.menu-text {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 50px;
    text-transform: uppercase;
    color: var(--black-75);
    font-weight: 700;
    font-family: var(--secondary-ff);
  }
  & .menu-icon {
    padding: 30px 10px;
    position: relative;
    &.menu-search-icon {
      & .search-hidden {
        height: 100px;
        width: 200px;
        top: 0;
        position: absolute;
        left: -150px;
        background-color: #00bcd4;
      }
    }
  }
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* middle*/

.middle {
  overflow: hidden;
  height: 100%;
  padding: 50px 0px;
  display: flex;
}
/* sidebar */
.sidebar {
  height: 100%;
  float: left;
  width: 20%;
}

.sidebar-item {
  margin-top: 50px;
  width: 100%;
  height: 39px;
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black-75);
  font-weight: 700;
  font-family: var(--secondary-ff);
  &:first-child {
    margin-top: 0px;
  }
}

.sidebar-cart {
  width: 90%;
  position: relative;
  height: 100%;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 50px;
  text-transform: uppercase;
  border: var(--black-90) 1px solid;
  color: var(--black-75);
  font-weight: 700;
  font-family: var(--secondary-ff);
}

.sidebar-cart-item {
  width: 100%;
  height: 51px;
  height: 100%;
  background-color: var(--white);
  border-bottom: 1px solid var(--black-90);
  &:hover .cart-text {
    cursor: pointer;
    color: var(--ocean);
    fill: var(--ocean);
  }
  &:last-child {
    border: none;
  }
  & .cart-text {
    position: relative;
    width: 100%;
    padding-left: 5%;
    & svg {
      position: absolute;
      top: 35%;
      right: 5%;
    }
  }
}

.sidebar-hidden-1 {
  display: none;
  width: 100%;
  font-size: 16px;
  line-height: 50px;
  color: var(--gray);
  font-weight: 400;
  background-color: var(--gray);
  font-family: var(--thirdary-ff);
  > a {
    color: var(--black);
    position: relative;
    padding-left: 7.5%;
    text-transform: none;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid var(--black);
    &:hover {
      cursor: pointer;
      color: var(--accent);
      fill: var(--accent);
    }
    &:first-child {
      border-top: 1px solid var(--black);
    }
    &:last-child {
      border-bottom: none;
    }
    & #arrow {
      position: absolute;
      top: 35%;
      right: 5%;
      transition: 2s ease;
    }
  }
  & .sidebar-hidden-2 {
    display: none;
    font-size: 14px;
    line-height: 50px;
    font-weight: 400;
    font-family: var(--thirdary-ff);
    & a {
      color: var(--black);
      position: relative;
      padding-left: 15%;
      text-transform: none;
      text-decoration: none;
      display: block;
      border-bottom: 1px solid var(--black);
      &:hover {
        cursor: pointer;
        color: var(--red);
        fill: var(--red);
      }
      &:last-child {
        border-bottom: none;
      }
      & #arrow {
        position: absolute;
        top: 35%;
        right: 5%;
      }
    }
  }
}

/* price filter */

.wrapper {
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-price {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

.price-title {
  position: relative;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--ocean);
  font-weight: 700;
  font-family: var(--secondary-ff);
  text-align: center;
  width: 82px;
  height: 30px;
  margin-right: 5px;
  border-radius: 3px;
  border: 2px solid var(--ocean);
  &:hover {
    cursor: pointer;
    background-color: var(--ocean);
    color: var(--white);
  }
}

.price-container {
  display: flex;
  margin-left: 57px;
}

.price-field {
  position: relative;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 0px;
}

.price-field input[type="range"] {
  position: absolute;
}

/* Reset style for input range */

.price-field input[type="range"] {
  width: 100%;
  border: 1px solid var(--black);
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  -webkit-appearance: none;
}

.price-field input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.price-field input[type="range"]:active,
.price-field input[type="range"]:focus {
  outline: 0;
}

.price-field input[type="range"]::-ms-track {
  width: 188px;
  height: 2px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  background: transparent;
  border-color: transparent;
  color: var(--red);
  border-radius: 5px;
}

/* Style toddler input range */

.price-field input[type="range"]::-webkit-slider-thumb {
  /* WebKit/Blink */
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -4px;
  background-color: var(--ocean);
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

/* Style track input range */

.price-field input[type="range"]::-webkit-slider-runnable-track {
  /* WebKit/Blink */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #555;
  border-radius: 5px;
}

/* Style for input value block */

.price-wrap {
  display: flex;
  color: var(--black);
  font-size: 16px;
  color: var(--dark-gray);
  font-weight: 400;
  font-family: var(--thirdary-ff);
  text-align: right;
  & #one,
  #two {
    width: 30px;
    text-align: right;
    margin: 0;
    padding: 0;
    margin-right: 2px;
    background: 0;
    border: 0;
    outline: 0;
  }
  & label {
    text-align: right;
    margin-top: 6px;
    padding-left: 5px;
  }
}

.price-wrap-1,
.price-wrap-2 {
  display: flex;
  margin-left: 0px;
}

.price-wrap_line {
  margin: 6px 0px 5px 5px;
}

/* Style for active state input */

.price-field input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px var(--black);
  transition-duration: 0.3s;
}

.price-field input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px var(--black);
  transition-duration: 0.3s;
}
/* search-sidebar */
.search-div {
  margin: 60px 0;
}
.sidebar-minibox {
  position: relative;
  width: 90%;
  height: 40px;
  border: 2px solid var(--dark-gray);
  font-size: 16px;
  line-height: 25px;
  color: var(--dark-gray);
  font-weight: 400;
  font-family: var(--thirdary-ff);
  border-radius: 3px;
  .minibox-text {
    position: absolute;
    top: 15%;
    left: 10%;
  }
  .minibox-icon {
    position: absolute;
    fill-opacity: 0.4;
    top: 30%;
    right: 5%;
  }
}

/* Recently viewed */

.recently-viewed-box {
  width: 90%;
  height: 100%;
  font-size: 16px;
  position: relative;
  line-height: 25px;
  color: var(--dark-gray);
  font-weight: 400;
  font-family: var(--thirdary-ff);
  background-color: var(--gray);
}
.recently-viewed-item {
  width: 100%;
  height: 100px;
  border: 1px solid var(--black);
  border-bottom: none;
  &:last-child {
    border-bottom: 1px solid var(--black);
  }
  & .recently-viewed-item-left {
    float: left;
    height: auto;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    & .recently-viewed-image {
      position: relative;
      float: left;
      margin: 15px 0;
      width: 70px;
      height: 70px;
      border-radius: 35px;
      background-color: var(--dark-gray);
      & .recently-viewed-image-tag {
        position: absolute;
        top: 0%;
        right: 0%;
        text-align: center;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background-color: var(--ocean);
      }
    }
  }

  & .recently-viewed-item-right {
    float: left;
    padding: 15px 0;
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    flex-wrap: wrap;
    & .recently-viewed-title {
      width: 100%;
      height: 30px;
      line-height: 25px;
      color: var(--dark-gray);
    }
    & .recently-viewed-rated {
      width: 25%;
      height: 10px;
      font-size: 16px;
      line-height: 58px;
      background-image: url(image/star-regular.svg);
      background-repeat: repeat-x;
      background-size: contain;
    }
    & .recently-viewed-price {
      width: 100%;
      height: 30px;
      font-size: 20px;
      line-height: 35px;
      color: var(--black-90);
      font-weight: 300;
    }
  }
}

/* Product tags */

.pro-tags {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  & .pro-tag-item {
    margin: 3px;
    padding: 5px;
    text-align: center;
    width: auto;
    height: 30px;
    background-color: rgba(153, 169, 181, 0);
    border: 1px solid #99a9b5;
  }
}

/* feature-products */

.feature-product,
.cart-product,
.highlight-product {
  font-family: var(--thirdary-ff);
  width: 90%;
  height: auto;
  & .feature-product-item {
    display: block;
    margin: 15px 0;
    width: 100%;
    height: 80px;
    background-color: var(--white);
    border: 1px solid var(--gray);
    & .feature-product-left {
      position: relative;
      float: left;
      width: 27.5%;
      height: 80px;
      background-color: var(--text);
      & .feature-product-tag {
        position: absolute;
        top: 12%;
        right: -12%;
        text-align: center;
        padding: 5px;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background-color: #00bcd4;
      }
    }
    & .feature-product-right {
      padding: 12.5px;
      padding-left: 25px;
      float: left;
      width: 72.5%;
      height: 80px;

      & .feature-product-title {
        font-size: 16px;
        line-height: 25px;
        color: var(--text);
        font-weight: 400;
      }
      & .feature-product-price {
        font-size: 20px;
        line-height: 35px;
        color: var(--black-75);
        font-weight: 300;
      }
    }
  }
}
/* sidebar-banner */

.sidebar-banner {
  position: relative;
  margin-top: 100px;
  height: 584px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pink);
  text-align: center;
  color: var(--white);
  font-family: var(--secondary-ff);
  animation-name: changecolor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  & .sidebar-banner-content {
    width: 90%;
    height: 548px;
    border: 6px solid var(--white);
    text-align: center;
    & .banner-title {
      padding-top: 40px;
      font-size: 120px;
      letter-spacing: 6px;
      line-height: 69px;
      font-weight: 700;
      text-transform: uppercase;
    }
    & .banner-subtitle {
      margin-top: 50px;
      font-size: 36px;
      letter-spacing: 2px;
      line-height: 40px;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
    }
    & .banner-suggestion {
      margin: 15px 28.5px;
      text-align: center;
      width: 178px;
      height: 209px;
      font-size: 24px;
      line-height: 37px;
      text-transform: none;
      color: var(--white);
      font-weight: 300;
      font-family: var(--thirdary-ff);
      text-align: center;
    }
  }
  & .email-item {
    position: absolute;
    height: 40px;
    width: 169px;
    top: 75%;
    margin-left: -50%;
    margin-right: -50%;
    background-color: var(--white);
    font-size: 16px;
    line-height: 25px;
    color: var(--text);
    font-weight: 400;
    font-family: var(--thirdary-ff);
    text-align: center;
  }
  & button.email-item {
    top: 85%;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
  }
}

.cart-product {
  & .cart-subtotal {
    height: 30px;
    width: 100%;
    display: block;
    & .cart-text {
      padding: 10px 0;
      float: left;
      font-size: 16px;
      line-height: 25px;
      color: var(--text);
      font-weight: 400;
      font-family: var(--thirdary-ff);
    }
    & .cart-price {
      float: right;
      font-size: 24px;
      line-height: 37px;
      color: var(--black-75);
      font-weight: 300;
      font-family: var(--thirdary-ff);
      text-align: right;
    }
  }
  & .cart-button {
    height: 30px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 54px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--secondary-ff);
    width: 100%;
    display: inline-block;
    & .cart-btn {
      float: right;
      width: 40%;
      height: 30px;
      background-color: var(--white);
      border-radius: 3px;
      color: var(--black-75);
      border: 2px solid var(--text);
      &:hover {
        color: var(--white);
        background-color: #00bcd4;
      }
    }
  }
}

/* content */

.content {
  float: left;
  width: 60%;
}

.cart {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin: 10px 0px;
  float: left;
  width: 30%;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 54px;
  text-transform: uppercase;
  color: var(--black-75);
  font-weight: 700;
  font-family: var(--secondary-ff);
  text-align: center;
}

.cart-item {
  background-color: var(--gray);
  position: relative;
  height: 344px;
  &:hover {
    cursor: pointer;
    & .cart-tag {
      cursor: pointer;
      background-color: var(--black-75);
    }
  }
}

.cart-tag {
  position: absolute;
  height: 81px;
  width: 100%;
  background-color: var(--white);
  opacity: 0.81;
  top: 60%;
}

/* swipe cart page */

.swipe-cart,
.swipe-pages {
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  & .swipe-box {
    line-height: 28px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid var(--black-75);
    margin: 10px;
    & svg {
      margin: 6px;
    }
    &:hover {
      color: var(--white);
      fill: var(--white);
      background-color: var(--ocean);
      cursor: pointer;
    }
  }
}

.swipe-pages > .swipe-box {
  &:last-child,
  &:first-child {
    background-color: var(--dark-gray);
  }
}

/* sort bar */
.sortbar {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 25px;
  color: var(--text);
  font-weight: 400;
  font-family: var(--secondary-ff);
  & .sortbar-content {
    width: 95%;
    background-color: var(--gray);
    height: 50px;
    display: inline-block;
    & .sortby {
      width: 22.5%;
      height: 30px;
      background-color: var(--white);
      border-radius: 3px;
      border: 1px solid var(--gray);
      margin: 10px;
      display: inline-block;
      padding: 2px 10px;
      position: relative;
      & .sortby-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
        width: 90%;
      }
      & .sortby-icon {
        float: right;
        padding-top: 3px;
      }
      & .sortby-hidden {
        width: 100%;
        position: absolute;
        top: 30px;
        left: 0px;
        height: 120px;
        background-color: var(--white);
        border-radius: 3px;
        border: 1px solid var(--gray);
        box-shadow: 1px var(--dark-gray);
        display: none;
        transition: 2s ease-in-out;
        .sortby-hidden-item {
          padding: 2px 10px;
          height: 25%;
          width: 100%;
          border-bottom: 1px solid var(--gray);
          &:hover {
            background-color: var(--ocean);
            color: var(--white);
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    & .toggle {
      float: left;
      width: 12.5%;
      height: 24px;
      & .toggle-text {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 50px;
        text-transform: uppercase;
        color: var(--text);
        font-weight: 300;
        font-family: var(--secondary-ff);
      }
      & svg {
        fill-opacity: 0.5;
        margin: 12px 0;
        margin-left: 2px;
        &.toggle-off {
          fill: var(--dark-gray);
          transition: 1s ease-in;
        }
        &.toggle-on {
          fill-opacity: 1;
          fill: var(--ocean);
          transition: 1s ease-in;
          rotate: 180deg;
        }
      }
    }
    & .sortby-detail {
      float: right;
      width: 35%;
      font-size: 16px;
      line-height: 50px;
      color: var(--text);
      font-weight: 400;
      font-family: var(--thirdary-ff);
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

/* product show after sorting */

.product {
  width: 100%;
  height: 2550px;
  padding: 10px 0;
  display: inline-block;
  & .product-item {
    float: left;
    width: 30%;
    height: 471px;
    margin-left: 2.5%;
    margin-bottom: 4%;
    & .product-image {
      height: 326px;
      width: 100%;
      background-color: var(--gray);
    }
    & .product-content {
      border: 1px solid var(--gray);
      height: 145px;
      width: 100%;
      font-size: 14px;
      line-height: 14px;
      color: #00bcd4;
      font-weight: 400;
      font-family: var(--thirdary-ff);
      text-align: center;
      position: relative;
      & .product-rate {
        background-image: url(image/5-stars.svg);
        background-repeat: no-repeat;
        height: 80px;
        display: block;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
      }
      & .product-title {
        position: absolute;
        top: 30%;
        left: 10%;
        right: 10%;
        font-family: var(--secondary-ff);
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 38px;
        text-transform: uppercase;
        color: var(--dark-gray);
        font-weight: 700;
        text-align: center;
      }
      & .product-price {
        color: aqua;
      }
      & .product-purpose-icon {
        padding: 15.5px;
        display: inline-block;
        position: relative;
        & .buy-icon-hidden {
          position: absolute;
          height: 18px;
          width: 18px;
          top: -2px;
          left: 20px;
          background-color: var(--ocean);
          color: var(--white);
          border-radius: 9px;
          border: var(--black) solid 1px;
          transition: all 1s linear;
          opacity: 0;
          z-index: -1;
        }
        & svg {
          margin: 2px;
          z-index: 1;
          &:hover {
            fill: var(--ocean);
            cursor: pointer;
          }
        }
        & text {
          float: right;
          padding: 5px;
          color: var(--dark-gray);
          &:hover {
            cursor: pointer;
            color: var(--ocean);
            text-decoration: underline;
          }
        }
      }
    }
    &:hover {
      cursor: pointer;
      .product-image {
        opacity: 0.5;
        transition: 0.5s ease;
        backface-visibility: hidden;
        background-color: var(--ocean);
      }
    }
  }
}

/* Clear floats after the columns */
.middle::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.instruction {
  height: 750px;
  width: 100%;
  text-align: center;
  background: var(--black-75);
  & .instruction-container {
    width: 80%;
    display: inline-block;
    height: 100%;
    & .instruction-col {
      font-size: 16px;
      line-height: 25px;
      color: var(--dark-gray);
      font-weight: 400;
      font-family: var(--thirdary-ff);
      padding: 50px 0;
      color: var(--white);
      float: left;
      width: 23.5%;
      margin: 1%;
      margin-left: 0;
      height: 100%;
      text-align: left;
      &:last-child {
        margin-right: 0;
      }
      & .instruction-logo {
        font-size: 39px;
        letter-spacing: 2px;
        line-height: 36px;
        text-transform: uppercase;
        font-weight: 300;
        font-family: var(--secondary-ff);
        width: 100%;
        text-align: left;
        display: inline-block;
        & svg {
          fill: var(--ocean);
          width: 20%;
          float: left;
        }
        & text {
          width: 50%;
          float: left;
          & span {
            font-weight: 700;
          }
        }
      }
      & .instruction-logo-mean {
        margin: 15px 0;
        width: 100%;
        height: 127px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      & svg {
        fill: var(--white);
      }
      & .instruction-address {
        width: 100%;
        margin: 20px 0;
      }
      & .instruction-information {
        margin-top: 40px;
        & .info-item {
          width: 100%;
          height: 40px;
          font-size: 18px;
        }
      }
      & .divide-path {
        height: 1px;
        border: 1px dashed;
        width: 18%;
      }
      & .instruction-post {
        margin: 25px 0;
        width: 100%;
        height: 85px;
        border-bottom: 1px dashed var(--dark-gray);
        position: relative;
        & .instruction-image {
          width: 25%;
          float: left;
          height: 70px;
          border-radius: 35px;
          background-color: var(--dark-gray);
        }
        & .instruction-content {
          font-size: 16px;
          line-height: 25px;
          color: var(--dark-gray);
          font-weight: 400;
          font-family: var(--thirdary-ff);
          width: 70%;
          text-align: left;
          float: right;
          height: 50px;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          display: -webkit-box;
        }
        & text {
          position: absolute;
          top: 60%;
          left: 30%;
          color: var(--ocean);
        }
        &:nth-child(4) {
          border-bottom: none;
        }
      }
      & .instruction-link {
        border-bottom: 1px dashed var(--dark-gray);
        height: 30px;
        width: 100%;
        margin-left: -20px;
        & text {
          color: var(--ocean);
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          display: -webkit-box;
        }
        &:last-child {
          border-bottom: none;
        }
        &:hover text {
          color: var(--white);
        }
      }
      & .message-form,
      .customer-signup {
        width: 100%;
        padding-top: 15px;
        & .customer-container {
          width: 100%;
          position: relative;
          margin: 10px 0;
          & .customer-name,
          .customer-email {
            width: 100%;
            height: 40px;
            border-radius: 3px;
            background-color: #181828;
            border: 1px solid #394050;
            text-align: left;
            padding-left: 10px;
          }
          & .caution {
            font-size: 14px;
            line-height: 22px;
            color: var(--dark-gray);
            font-weight: 400;
            font-family: var(--thirdary-ff);
          }
          & svg {
            fill: var(--gray);
            position: absolute;
            top: 30%;
            right: 5%;
          }
        }
        & .customer-message {
          width: 100%;
          height: 98px;
          border-radius: 3px;
          background-color: #181828;
          border: 1px solid #394050;
        }
        & .message-btn {
          width: 100%;
          height: 40px;
          border-radius: 3px;
          background-color: #181828;
          color: var(--dark-gray);
          margin: 15px 0;
        }
      }
      & .flex-box {
        margin-top: 20px;
        width: 100%;
        display: inline-block;
        & .flex-box-item {
          margin-right: 3%;
          margin-bottom: 3%;
          float: left;
          width: 30%;
          height: 80px;
          background-color: #828e97;
        }
        & .dots-center {
          float: left;
          width: 100%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          & .dot {
            float: left;
            margin: 5px;
            width: 13px;
            height: 13px;
            border-radius: 7px;
            background-color: #394050;
            &:hover {
              background-color: var(--white);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

#slider-2 {
  padding-bottom: 2rem;
}
.swiper-slide {
  & img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  & figure {
    position: relative;
    margin: 0;
    overflow: hidden;
  }
  & figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1rem 2rem;
    left: 50%;
    transform: translate3d(-50%, 100%, 0);
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  & figcaption img {
    width: auto;
    height: auto;
    object-fit: contain;
  }
}

.swiper-slide-active figcaption {
  transform: translate3d(-50%, 0, 0);
  opacity: 1;
}

/* Lastest News */

.news {
  width: 100%;
  height: 675px;
  & p {
    text-align: center;
    padding-bottom: 20px;
  }
  & .new-block {
    display: inline-block;
    width: 80%;
    height: 509px;
    & .news-item {
      float: left;
      height: 509px;
      width: 23.5%;
      margin: 1%;
      background-color: #f0f3f2;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    & .new-image {
      width: 100%;
      height: 188px;
      background-color: var(--text);
    }

    & .new-box {
      width: 100%;
      height: 321px;
      background-color: #f0f3f2;
      position: relative;
      text-align: left;
      & .top-new-box {
        width: 100%;
        height: 45px;
        font-size: 14px;
        line-height: 22px;
        color: #99a9b5;
        font-weight: 400;
        font-family: var(--thirdary-ff);
        display: inline-block;
        & p {
          font-size: 14px;
          line-height: 22px;
          float: left;
          height: 10px;
          margin: 5px 15px;
        }
        & .icon-new-box {
          margin: 5px 15px;
          font-size: 14px;
          line-height: 22px;
          float: right;
        }
      }
      & .new-title {
        width: 100%;
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 38px;
        text-transform: uppercase;
        color: var(--black-75);
        font-weight: 700;
        font-family: var(--secondary-ff);
        padding: 15px 15px;
      }
      & .new-content {
        width: 100%;
        padding: 15px 15px;
        height: 84px;
        font-size: 16px;
        line-height: 25px;
        color: var(--text);
        font-weight: 400;
        font-family: var(--thirdary-ff);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
      & .new-footer {
        position: absolute;
        left: 5%;
        bottom: 5%;
        & svg {
          margin-right: 20px;
        }
        & .new-footer-button {
          float: right;
          width: 125px;
          height: 30px;
          border-radius: 3px;
          border: 2px solid #00bcd4;
          font-size: 14px;
          letter-spacing: 1px;
          line-height: 25px;
          text-transform: uppercase;
          color: #00bcd4;
          font-weight: 700;
          font-family: var(--secondary-ff);
          text-align: center;
          &:hover {
            color: var(--white);
            background-color: #00bcd4;
            cursor: pointer;
          }
        }
      }
    }
  }
}
/* divide-path */

.divide-path {
  position: absolute;
  height: 4px;
  left: 10%;
  width: 77.5%;
  border-radius: 3px;
  border: 1px solid var(--dark-gray);
}

/* payment-area */

.payment-area {
  padding: 75px 0;
  width: 77.5%;
  position: relative;
  height: 100%;
  display: inline-block;
  & .credit-method {
    width: 47.5%;
    height: 332px;
    border: 1px solid var(--text);
    border-radius: 0 60px 60px 60px;
    float: left;
    & .credit-method-content {
      width: 100%;
      padding: 40px 25px;
      height: 332px;
      display: inline-block;
      & .credit-icon {
        float: right;
        width: 15%;
      }
      & .credit-text {
        padding: 0 25px;
        float: left;
        width: 85%;
        height: 100%;
        text-align: left;
        & .credit-method-title {
          height: 58px;
          font-size: 24px;
          letter-spacing: 1px;
          line-height: 50px;
          text-transform: uppercase;
          color: var(--black-75);
          font-weight: 700;
          font-family: var(--secondary-ff);
        }
        & .credit-method-explain {
          padding-right: 50px;
          height: 54px;
          font-size: 16px;
          line-height: 25px;
          color: var(--text);
          font-weight: 400;
          font-family: var(--thirdary-ff);
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        & .credit-card {
          height: 90px;
          width: 100%;
          display: block;
          & .card-item {
            margin-right: 25px;
            margin-top: 25px;
            float: left;
            width: 50px;
            height: 32px;
            background-color: var(--gray);
          }
        }
      }
    }
  }
  & .shipping-method {
    float: right;
    width: 47.5%;
    height: 332px;
    border: 1px solid var(--text);
    border-radius: 0 60px 60px 60px;
    & .credit-method-content {
      width: 100%;
      padding: 40px 25px;
      height: 332px;
      display: inline-block;
      & .credit-icon {
        float: right;
        width: 15%;
      }
      & .credit-text {
        padding: 0 25px;
        float: left;
        width: 85%;
        height: 100%;
        text-align: left;
        & .credit-method-title {
          height: 58px;
          font-size: 24px;
          letter-spacing: 1px;
          line-height: 50px;
          text-transform: uppercase;
          color: var(--black-75);
          font-weight: 700;
          font-family: var(--secondary-ff);
        }
        & .shipping-method-explain {
          width: 100%;
          height: 169px;
          & .shipping-method-explain-item {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            font-size: 16px;
            line-height: 36px;
            color: var(--text);
            font-weight: 400;
            font-family: var(--thirdary-ff);
            text-align: right;
            & svg {
              fill: aqua;
            }
          }
        }
      }
    }
  }
}

/* Product Highlight */

.highlight-product {
  width: 100%;
  text-align: center;
  background: #ddd;
  padding-top: 60px;
  margin-top: 20px;
  & .highlight-product-content {
    height: 424px;
    width: 80%;
    display: inline-block;
    & .product-row {
      height: 374px;
      float: left;
      width: 31%;
      margin-right: 2%;
      &:last-child {
        margin-right: 0px;
      }
      & .sidebar-item {
        text-align: left;
      }
    }
  }
}

/* slogan */
.slogan {
  width: 100%;
  height: 224px;
  background-color: var(--cham);
  text-align: center;
  & .slogan-content {
    width: 77.5%;
    display: inline-block;
    & .slogan-icon {
      margin: 72px 0;
      width: 10%;
      float: left;
      font-size: 96px;
      letter-spacing: 38px;
      line-height: 58px;
      color: var(--black-75);
      font-family: var(--icon-2-ff);
      text-align: center;
    }
    & .slogan-text {
      padding: 81px 0;
      float: left;
      width: 70%;
      font-size: 42px;
      letter-spacing: 2px;
      line-height: 50px;
      color: var(--black-75);
      font-weight: 400;
      font-family: var(--secondary-ff);
      text-align: left;
      & span {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    & .slogan-button {
      width: 20%;
      float: right;
      height: 50px;
      border: 3px solid var(--black);
      margin: 81px 0;
      font-size: 19px;
      letter-spacing: 1px;
      line-height: 50px;
      text-transform: uppercase;
      color: var(--black);
      font-weight: 700;
      font-family: "Montserrat";
      text-align: center;
      &:hover {
        background-color: var(--black);
        color: var(--cham);
        cursor: pointer;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 100px;
  box-shadow: inset 0px 1px 0px rgba(57, 64, 80, 0.75);
  background-color: var(--black);
  border: 1px solid var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--text);
  font-weight: 400;
  font-family: var(--thirdary-ff);
  text-align: center;
  .footer-container {
    width: 80%;
    height: 100px;
    display: inline-block;
    & .footer-icon {
      width: 30%;
      height: 100px;
      float: right;
      text-align: center;
      padding: 40.5px;
      & svg {
        margin: 0 5px;
      }
    }
    & .footer-copyright {
      width: 20%;
      float: left;
      height: 100px;
      text-align: left;
      line-height: 16px;
      padding: 42px 0;
      display: block;
      & svg {
        float: left;
        fill: var(--dark-gray);
      }
      & .icon-text {
        margin-left: 5px;
        float: left;
      }
    }
    & .footer-purpose {
      float: left;
      width: 50%;
      height: 100px;
      padding: 42px;
      display: block;
      & .footer-purpose-item {
        float: left;
        width: 25%;
        text-align: center;
        height: 22px;
        border-right: 1px solid var(--dark-gray);
        &:last-child {
          border-right: none;
        }
        &:hover {
          color: var(--ocean);
          cursor: pointer;
        }
      }
    }
  }
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1240px) {
  .left-space,
  .right-space {
    width: 0%;
    padding: 0;
  }
  .sidebar {
    width: 30%;
  }
  .content {
    width: 70%;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

@keyframes changecolor {
  from{ background-color: var(--pink);}
  to{ background-color:var(--yellow);}
}